<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Kollege Kitchen</h1>
        <p>This is following the format from class</p>
    </div>
    <ul>
      <li><a href="/myform">Personal App Assignment for CO1</a></li>

    </ul>
<%- include('bootfooter') -%>
