<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Kreative Kitchen</h1>
        <p>This is my personal app for JBS Summer 2019</p>
    </div>
    <ul>
      <li><a href="/profile">Click here to check your profile</a></li>
      <li><a href="/recipes">Click here to add a recipe</a></li>
      <li><a href="/myform">Click here to find restuarants near you</a></li>
      <li><a href="/forum">Click here to post question on the forum</a></li>
    </ul>
<%- include('bootfooter') -%>
