<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Kreative Kitchen</h1>
        <p>The Universal Platform for cheap and creative recipes!!!</p>
    </div>
    <ul>
      <li><a href="/myform">Personal App Assignment for CO1</a></li>
      <li><a href="/myform">Personal App Assignment for CO1</a></li>

    </ul>
<%- include('bootfooter') -%>
