<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Quiz 1</h1>
        Write the HTML with Bootstrap to create this page. Upload your code to Latte. You can make your page in yellowcartwheel.
    </div>

    <form method="post" action="/processform">

      <font size = "20">
        1
        </font>
        <br>
        Write the HTML with Bootstrap to create this page. Upload your code to Latte. You can make your page in yellowcartwheel.
        <br>
        <font size = "20">
          2
          </font>
          Write the HTML with Bootstrap to create this page. Upload your code to Latte. You can make your page in yellowcartwheel.
          <br>
          <font size = "20">
            3
            </font>
            <br>
            Write the HTML with Bootstrap to create this page. Upload your code to Latte. You can make your page in yellowcartwheel.
            <br>
            <font size = "20">
              1
              </font>
              <br>
              Write the HTML with Bootstrap to create this page. Upload your code to Latte. You can make your page in yellowcartwheel.
              <br>
              <font size = "20">
                2
                </font>
                <br>
                Write the HTML with Bootstrap to create this page. Upload your code to Latte. You can make your page in yellowcartwheel.
                <br>
                <font size = "20">
                  3
                  </font>
                  <br>
                  Write the HTML with Bootstrap to create this page. Upload your code to Latte. You can make your page in yellowcartwheel.
      <br>
      <br>
       <font size = "15"> Personal Info </font>
       <br>

       Name <input type="text" name="dish">

       <br>

       Birthday <input type="text" name="dish" value = "mm/dd/yyyy">
       <br>

       Gender
       <div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Male
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    Female
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
    Other
  </label>


  <br>
  <br>
  <font size = "13"> Short Bio </font>
  <br>
  <textarea rows = "10" cols = "40" name="comment">This space is 40 columns wide and has 10 rows. Only one gender can be selected at a time.
  </textarea>
  <br>
  <button type="button" class="btn btn-primary">Submit</button> <button type="button" class="btn btn-warning">Save</button> <button type="button" class="btn btn-danger">Reset</button>

<%- include('bootfooter') -%>
